.validation-error {
    color: red;
    font-size: 14px
}
.heading-text {
    color: #535c69;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    padding-top: 25px;
    border: 0;
    margin-bottom: 0!important;
    font-family: Helvetica,Verdana,Arial,sans-serif;
}

.main-div {
    height: 100%;
    width: 100%;
}

.form-buttons {
    margin: 10px auto;
}

.footer {
    float: right;
    margin-top:80px
}


@media screen and (max-width: 600px) {
    /*.heading-text {font-size:20px}*/
    .btn-size {font-size: 12px !important}

}
@media screen and (max-width: 300px) {
    .heading-text {font-size:20px}
    .btn-size {font-size: 12px !important; padding-left: 0; padding-right:0}

}
/*.btn-size {font-size:15px !important;}*/

h5{
    font-size: 1.0em;
    font-weight: 700;
}