.validation-error {
    color: #ffffff;
    background: red;
    font-size: 14px;
    display: block;
    text-align: right;
    margin-top: -3px;
}

.heading-text {
    color: #535c69;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    padding-top: 25px;
    border: 0;
    margin-bottom: 0 !important;
    margin-left: 85px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.form-buttons {
    float: left;
    margin: 10px auto;
    margin-left: 85px !important;
}

.main-div {
    height: 100%;
    width: 100%;
}

.footer {
    float: right;
    margin-top: 80px
}

.label-style {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
    color: #535c69;
}

li:focus {
    background-color: red !important;
}

div:focus {
    background-color: red;
}

.block-div {
    margin-top: 10px;
}

.input-size {
    width: 210px;
    height: 30px;
    padding: 5px;
}

@media screen and (max-width: 320px) {
    .heading-text {
        font-size: 18px;
        padding-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-size {
        font-size: 11px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .input-size {
        width: 180px;
        font-size: 13px;
    }

    .label-style {
        display: inline-block;
        width: 140px;
        /*margin-right: 10px;*/
        font-size: 12px;
        color: #535c69;
        text-align: left !important;
    }

    .validation-error {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }

    .heading-text {
        margin-left: 0;
    }

    link, .nav-tabs .nav-link.active {
        padding: 10px;
    }

    .nav-tabs .nav-link {
        padding: 10px;
    }

    .margin-left {
        margin-left: 0
    }

    .form-buttons {
        margin-left: 0 !important;
    }

    .margin-top {
        margin-top: 0 !important;
    }
    .link {
        font-size : 13px !important;
    }
    .link-style {
        font-size: 14px !important;
    }
    .sub-link {
        font-size: 12px !important;
    }
    .nav-link {
        font-size: 13px !important;
    }
    .powered-by {
        font-size: 12px !important;
    }
    .margin-bottom {
        margin-bottom: 10px !important;
    }
    .col-form-label {
        text-align: left !important;
    }
    .link-div {
        margin-bottom: 0 !important;
    }
    .col-form-label {
        font-size: 12px !important;
    }
    .img-style {
        height: 15px !important;
        width: 85px !important;
    }
}

@media screen and (max-width: 400px) {
    .row {
        display: block;
    }
    .dist {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 576px) {
    .col-form-label {
        text-align: left !important;
    }
    .btn, .cust-btn {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size:13px !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
        width: 100%;
    }
    .heading-text {
        font-size: 18px;
        padding-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        width: 100% !important;
    }

}

/*@media screen and (max-width: 321px) {*/
    /*.col-form-label {*/
        /*text-align: left !important;*/
    /*}*/
    /*.right {*/
        /*float: none !important;*/
    /*}*/
    /*.btn, .cust-btn {*/
        /*font-size:11px !important;*/
        /*padding-right: 5px;*/
        /*padding-left: 5px;*/
    /*}*/
    /*.container {*/
        /*padding-right: 10px;*/
        /*padding-left: 10px;*/
    /*}*/
/*}*/

h5 {
    font-size: 1.0em;
    font-weight: 700;
}

/*can use for other components*/
.center {
    display: flex;
    justify-content: center;
    align-items: center
}

.img-style {
    height: 30px;
    width: 100px;
}

.nav-link {
    background: #2d89ef;
    color: #ffffff;
    padding: 4px 40px;
    font-size: 14px;
}

.nav-item > a:hover {
    color: rgba(45, 173, 237, .6);
}

.nav .nav-tabs {
    background: #eef2f4;
    margin-top: 20px !important;
    height: 28px;
}

.margin-top {
    margin-top: 20px
}

.nav-tabs {
    border-bottom: 2px solid #2d89ef !important;
    background: #eef2f4;
}

.nav-tabs .nav-link {
    border: none !important;
}

.nav-tabs .nav-item {
    margin-bottom: 0px !important;
}

.nav-item {
    width: 220px
}

link, .nav-tabs .nav-link.active {
    color: #2379a2;
    font-size: 14px;
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 1px
}

.search-input {
    height: 30px;
}

.search-button {
    background: #ffffff;
    border: 2px solid #eef2f4;
}

.margin-bottom {
    margin-bottom: 20px;
}

.link-style {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #2379a2 !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-link {
    font-size: 14px;
    color: #2379a2;
}

.powered-by {
    color: rgba(45, 173, 237, .6);
    font-size: 14px;
    padding-right: 10px;
}

.footer a:hover {
    text-decoration: none !important;
}

.no-decor > a:hover {
    text-decoration: none !important;
}

.no-decor > a:hover .sub-link, .link-style {
    color: rgba(45, 173, 237, 0.6);
}

.nav-link {
    color: #2379a2;
    background: #eef2f4;
}

link, .nav-tabs .nav-link.active {
    background: #2d89ef !important;
    color: #ffffff !important;
}

.form-buttons > li {
    list-style: none;
    float: left;
}

.margin-left {
    margin-left: 85px;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: grey
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #B0E0E6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F0F8FF;
}

.col-form-label {
    display: inline;
    width: 140px;
    text-align: right ;
    font-size: 14px;
    color: #535c69;
    padding-right: 0px !important;
}
.form-control {
    font-size: 13px !important;
    display: inline;
    border-radius: 0;
}
.row {
    margin-top: -5px;
}
.btn-primary {
    background: #518ee2;
    /*height: 33px;*/
}
.btn-danger {
    background: #f16451;
    /*height: 33px;*/
}
.link-div {
    text-align: right;
    margin-top: -13px;
    margin-bottom: 13px;
}
.link {
    font-size: 14px;
    text-decoration: none !important;
    color: rgb(83, 92, 105);
}
.link-div > a:hover {
    text-decoration: none
}
.cust-btn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff !important;
}
.right {
    float: right ;
}